@media (max-width: 600px) {
    .header {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
    }

    .logo {
        font-size: 10vw;
        color: white;
        font-weight: 600;
        transition: 0.3s ease;
    }

    .navbar a {
        display: none;
    }

    .contact {
        display: none;
    }

    .home {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0;
        flex-direction: column;
        padding: 3vw 5vw;
    }

    .home-content {
        max-width: auto;
        height: auto;
        margin-top: 40vw;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .home-content h1 {
        font-size: 42px;
        line-height: 1.2;
    }

    .home-content p {
        font-size: 18px;
        margin: 10px 0 15px;
    }

    .btn-box {
        width: 345px;
        display: flex;
        gap: 1em;
    }

    .img-box img {
        border-radius: 10px;
        width: 200px;
        margin-top: 10vw;
    }
    .contact-form form {
        max-width: 20em;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 1em;
    }
    .contact-form form .input-box input,
    .contact-form form textarea {
        width: 100%;
        padding: 1em;
        font-size: 18px;
        color: black;
        background: rgb(241, 241, 241);
        border-radius: .8rem;
        margin: .5rem 0;
        resize: none;
    }
    .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: white;
        letter-spacing: 2px;
    }


}